/* override bootstrap */

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

/* main css */

body {
    color: #384F66;
}

a {
    color: #384F66;
}
a:hover {
    color: #2A3B4C;
}
a:visited {
    color: #2A3B4C;
}

header {
    background-color: #1A1C19;
    height: 170px;
    padding-top: 35px;
    border-top: 3px solid #434740;

    color: #fff;
}

.bgwhite {
    background-color: #fff;
}

.leftcolumn {
    padding: 1em 0 1em 1em;
}

.rightcolumn {
    padding: 1em 1em 1em 0;
}

h2 {
    margin-top: 0;
}

.timestamp {
    font-size: 0.8em;
    color: #7C8577;
    font-weight: italic;
}

.tags {
    color: #7C8577;
    text-align: right;
}

.articleinfo {
    border-top: 1px dashed #BCC9B4;
    margin-top: 1em;
    padding: 0.5em 0.2em 0.2em 0.2em;
    font-size: 0.9em;
    color: #7C8577;
}

.taglink {
    margin-left: 0.3em;
}

.menutag {
    margin: 0.3em;
}
